<h1>Hello, <%=@player.name %>!</h1>
<h2>Your collcetion: <%= @player.collection.count %> Kudomons</h2>
<h3>Kudomons nearby:</h3>
<ul>
  <% @nearby_kudomons.each do |kudo| %>
    <li><%= kudo.species %></li>
    <form class="" action="index.html" method="post">
      <input type="hidden" id="signup_pass_confirm" value=<%%> />
    </form>
    <input type="submit" name="" value="<>">
    <hr>
  <% end %>
</ul>
